__pycache__
.venv/
venv/
.DS_Store
*SFConflict*
.idea
workspace.xml
*.launch
*.egg-info/
node_modules/
package-lock.json
Debug/
*.mp3
*.mp4
software/core/utils/sound/tts_files/
*.parcel-cache/
CLAUDE.md
.claude/
software/research/
software/robots/bilbo/robot/experiment/iitl/
